
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a  href="/Movie/Index" class="header__logo">
								<img src="~/Theme2/img/logo.svg" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<li class="header__nav-item">
									<a class=" header__nav-link" href="/Movie/Index" role="button"   aria-haspopup="true" aria-expanded="false">AnaSayfa</a>
								</li>

								<li class="header__nav-item">
									<a class=" header__nav-link" href="/About/Index" role="button" aria-haspopup="true" aria-expanded="false">Hakkımızda</a>
								</li>
								<li class="header__nav-item">
									<a class=" header__nav-link" href="/Pricing/Index" role="button"  aria-haspopup="true" aria-expanded="false">Ücretlendirme</a>
								</li>
								<li class="header__nav-item">
									<a class=" header__nav-link" href="/Help/Index" role="button"  aria-haspopup="true" aria-expanded="false">Yardım</a>
								</li>
								<!-- end dropdown -->
								<!-- dropdown -->
								<!-- end dropdown -->
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">


								<a href="/Login/Index/" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Giriş Yap</span>
								</a>

								<a href="/Register/Index/" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Kayıt Ol</span>
								</a>


							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

	
		<!-- end header search -->
	</header>