
@{
    ViewData["Title"] = "UserLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="~/Theme2/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="~/Theme2/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="~/Theme2/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Theme2/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/Theme2/css/nouislider.min.css">
	<link rel="stylesheet" href="~/Theme2/css/ionicons.min.css">
	<link rel="stylesheet" href="~/Theme2/css/plyr.css">
	<link rel="stylesheet" href="~/Theme2/css/photoswipe.css">
	<link rel="stylesheet" href="~/Theme2/css/default-skin.css">
	<link rel="stylesheet" href="~/Theme2/css/main.css">


	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/Theme2/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="~/Theme2/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/Theme2/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/Theme2/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/Theme2/icon/apple-touch-icon-144x144.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo</title>

</head>
<body class="body">
	
	<!-- header -->
	@await Html.PartialAsync("HeaderPartial")
	<!-- end header -->
	<div class="clearfix"></div>
	<!-- home -->
	@RenderBody()
	<!-- end home -->
	<!-- expected premiere -->
	
	<!-- end expected premiere -->
	<!-- footer -->
@await Html.PartialAsync("FooterPartial")
	<!-- end footer -->

	<!-- JS -->
	<script src="~/Theme2/js/jquery-3.3.1.min.js"></script>
	<script src="~/Theme2/js/bootstrap.bundle.min.js"></script>
	<script src="~/Theme2/js/owl.carousel.min.js"></script>
	<script src="~/Theme2/js/jquery.mousewheel.min.js"></script>
	<script src="~/Theme2/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="~/Theme2/js/wNumb.js"></script>
	<script src="~/Theme2/js/nouislider.min.js"></script>
	<script src="~/Theme2/js/plyr.min.js"></script>
	<script src="~/Theme2/js/jquery.morelines.min.js"></script>
	<script src="~/Theme2/js/photoswipe.min.js"></script>
	<script src="~/Theme2/js/photoswipe-ui-default.min.js"></script>
	<script src="~/Theme2/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.js" integrity="sha512-vfpVlxMY9ryJFidrwKK2Nus5vQ5vGilRCjImLBYj3uoAz75crnSKM7zC3jFcmtCI7u58d9Cp0mEZmWwidm9xsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>

