
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Flix GO</title>
</head>
<body>
    <h1>yazar sayfası</h1>
</body>
</html>
