<nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-title">Kontrol Paneli</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/Movie/MovieListByWriter">
                <span class="menu-title">Filmlerim</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Movie/MovieAdd">
                <span class="menu-title">Yeni Film</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/Movie/Index">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-car menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout-variant menu-icon"></i>
              </a>
            </li>
            
          
          </ul>
        </nav>