
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="~/Theme2/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="~/Theme2/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="~/Theme2/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Theme2/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/Theme2/css/nouislider.min.css">
	<link rel="stylesheet" href="~/Theme2/css/ionicons.min.css">
	<link rel="stylesheet" href="~/Theme2/css/plyr.css">
	<link rel="stylesheet" href="~/Theme2/css/photoswipe.css">
	<link rel="stylesheet" href="~/Theme2/css/default-skin.css">
	<link rel="stylesheet" href="~/Theme2/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/Theme2/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/Theme2/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/Theme2/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/Theme2/icon/apple-touch-icon-144x144.png">

	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>
</head>
<body class="body">

	<!-- page 404 -->
	<div class="page-404 section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="page-404__wrap">
						<div class="page-404__content">
							<h1 class="page-404__title">404</h1>
							<p class="page-404__text">The page you are looking for not available!</p>
							<a href="/Movie/Index" class="page-404__btn">Go To Main Page</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page 404 -->

	<!-- JS -->
	<script src="~/Theme2/js/jquery-3.3.1.min.js"></script>
	<script src="~/Theme2/js/bootstrap.bundle.min.js"></script>
	<script src="~/Theme2/js/owl.carousel.min.js"></script>
	<script src="~/Theme2/js/jquery.mousewheel.min.js"></script>
	<script src="~/Theme2/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="~/Theme2/js/wNumb.js"></script>
	<script src="~/Theme2/js/nouislider.min.js"></script>
	<script src="~/Theme2/js/plyr.min.js"></script>
	<script src="~/Theme2/js/jquery.morelines.min.js"></script>
	<script src="~/Theme2/js/photoswipe.min.js"></script>
	<script src="~/Theme2/js/photoswipe-ui-default.min.js"></script>
	<script src="~/Theme2/js/main.js"></script>
</body>
</html>
