

					<div style="margin:auto" class="sign__form">
						<h2 style="color:white">Filmleri Kaçırmamak İçin Abone Ol ! </h2>
						<form action="/NewsLetter/SubscribeMail/" method="post">
							<input type="email" class="sign__input" placeholder="E mail giriniz" name="Mail"/>
						<br>
						<button type="submit" class="sign__btn" id="btn2">Abone ol</button>
						</form>
					</div>
					

<script src="~/Theme2/js/jquery-3.3.1.min.js"></script>
	<script src="~/Theme2/js/bootstrap.bundle.min.js"></script>
	<script src="~/Theme2/js/owl.carousel.min.js"></script>
	<script src="~/Theme2/js/jquery.mousewheel.min.js"></script>
	<script src="~/Theme2/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="~/Theme2/js/wNumb.js"></script>
	<script src="~/Theme2/js/nouislider.min.js"></script>
	<script src="~/Theme2/js/plyr.min.js"></script>
	<script src="~/Theme2/js/jquery.morelines.min.js"></script>
	<script src="~/Theme2/js/photoswipe.min.js"></script>
	<script src="~/Theme2/js/photoswipe-ui-default.min.js"></script>
	<script src="~/Theme2/js/main.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.js" integrity="sha512-vfpVlxMY9ryJFidrwKK2Nus5vQ5vGilRCjImLBYj3uoAz75crnSKM7zC3jFcmtCI7u58d9Cp0mEZmWwidm9xsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script>
				$('#btn2').click(function() {
			swal("Başarıyla Abone Olundu.");
		});
			</script>